@import "../../styles/mixins";

.services-section {
  width: 100%;
  padding: 160px var(--active-margin-grid);
  background: var(--col-white);
}

.services-row {
  display: flex;
  flex-flow: row;
  gap: 32px;
}

.services-list {
  display: flex;
  justify-content: flex-end;

  ul {
    width: var(--col-7)
  }

  ul li.services-accordion {
    padding: 48px 0;
    list-style-type: none;
    border-top: 1px solid var(--col-white-grey);
    cursor: pointer;

    &:last-child {
      border-bottom: 1px solid var(--col-white-grey);
    }

    .services-space-between {
      display: flex;
      justify-content: space-between;

      .flex-row {
        align-items: flex-start;
        gap: var(--col-1);
        padding-right: var(--col-1);

        .services-number {
          color: var(--col-neutral-grey);
          font-size: 2.4rem;
          margin-top: 12px;
        }

        .services-content {
          display: flex;
          flex-flow: column;
        }

        .services-title {
          font-size: 4rem;
        }

        .services-arrow {
          //TODO
        }
      }
    }

    .services-description {
      color: var(--col-neutral);
      font-size: 1.6rem;
      font-weight: 410;
      line-height: 164%;
      letter-spacing: -0.04em;
      font-variation-settings: 'slnt' 0;

      // WIP accordion
      // margin-top: 16px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  }
}