@import "mixins";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  // cursor: none;

  &::selection {
    background: var(--col-neutral-grey);
  }

  img {
    max-width: 100%;
  }
}

p,
.text {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 410;
  line-height: 164%;
  letter-spacing: -0.04em;
  font-variation-settings: 'slnt' 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.font-dark {
  color: var(--col-dark);
}

.font-dark-grey {
  color: var(--col-dark-grey);
}

.font-white {
  color: var(--col-white);
}

.font-white-grey {
  color: var(--col-white-grey);
}

.font-neutral {
  color: var(--col-neutral);
}

.font-neutral-grey {
  color: var(--col-neutral-grey);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.title-home,
.title-200,
.title-160,
.title-120,
.title-96,
.title-32 {
  font-family: 'SangBleu Empire';
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: -0.02em;
  display: block;
  z-index: 1;
}

.title-200 {
  font-size: 20rem;
}

.title-160 {
  font-size: 16rem;
}

.title-120 {
  font-size: 12rem;
}

.title-96 {
  font-size: 9.6rem;
}

.title-32 {
  font-size: 3.2rem;
}

/* ========== CURSOR ========== */

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: var(--col-dark-grey);
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;
}

.follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: 9999;
  background: var(--col-white-grey);
  opacity: .7 !important;
  pointer-events: none;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mt-160 {
  margin-top: 160px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mt-200 {
  margin-top: 200px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mt-320 {
  margin-top: 320px;
}

.mb-320 {
  margin-bottom: 320px;
}

.ml-1 {
  margin-left: var(--col-1);
}

.ml-2 {
  margin-left: var(--col-2);
}

.ml-3 {
  margin-left: var(--col-3);
}

.ml-4 {
  margin-left: var(--col-4);
}

.ml-5 {
  margin-left: var(--col-5);
}

.ml-6 {
  margin-left: var(--col-6);
}

.ml-7 {
  margin-left: var(--col-7);
}

.col-1 {
  width: var(--col-1);
}

.col-2 {
  width: var(--col-2);
}

.col-3 {
  width: var(--col-3);
}

.col-4 {
  width: var(--col-4);

  @include large-screen() {
    width: var(--col-7);
  }

  @include small-screen() {
    width: 100%;
  }
}

.col-5 {
  width: var(--col-5);

  @include large-screen() {
    width: var(--col-7);
  }

  @include small-screen() {
    width: 100%;
  }
}

.col-6 {
  width: var(--col-6);

  @include small-screen() {
    width: 100%;
  }
}

.col-7 {
  width: var(--col-7);

  @include small-screen() {
    width: 100%;
  }
}

.col-8 {
  width: var(--col-8);

  @include small-screen() {
    width: 100%;
  }
}

.transition-layer {
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;
}

.bottom-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  bottom: auto;
  right: auto;
  background: var(--col-background);
  transition: all 0.6s cubic-bezier(.18, .67, .79, .38);
  z-index: 1000000;

  &.active {
    top: -100%;
  }
}

.bottom-layer--2 {
  background: var(--col-secondary);
  transition-delay: 0.24s;
}

.active-inline {
  display: inline-block !important;
}

.active {
  display: block !important;
}

.inactive {
  display: none !important;
}

// Animations

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--col-dark);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}