@import "mixins";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  // cursor: none;

  &::selection {
    background: var(--col-neutral);
  }

  img {
    max-width: 100%;
  }
}

p,
.text {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.04em;
  z-index: 1;
  position: relative;

  @include small-screen() {
    font-size: 1.8rem;
  }

  @include tablet-screen() {
    font-size: 1.6rem;
  }
}

.text-24 {
  font-size: 2.4rem;
  font-weight: 500;

  @include small-screen() {
    font-size: 2rem;
  }

  @include tablet-screen() {
    font-size: 1.6rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.font-white {
  color: var(--col-white);
}

.font-white-grey {
  color: var(--col-white-grey);
}

.font-neutral {
  color: var(--col-neutral);
}

.font-dark-grey {
  color: var(--col-dark-grey);
}

.font-dark {
  color: var(--col-dark);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.title {
  font-family: 'Humane';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: block;
  z-index: 1;
}

.title-hero {
  font-size: 22vw;
  text-align: left;
  line-height: 80%;

  @include small-screen() {
    font-size: clamp(20rem, 22vw, 22vw);
    text-align: left;
  }
}

.title-contact {
  font-size: clamp(24rem, 24vw, 45rem);

  @include small-screen() {
    font-size: clamp(20rem, 24vw, 32rem);
  }
}

.title-section {
  font-size: 22rem;
  line-height: 88%;

  @include large-screen() {
    font-size: 18rem;
  }

  @include tablet-screen() {
    font-size: 16rem;
  }

  @include mobile-screen() {
    font-size: 12rem;
  }
}

.title-works {
  font-size: 32rem;

  @include large-screen() {
    font-size: 24rem;
  }

  @include small-screen() {
    font-size: 18rem;
  }

  @include mobile-screen() {
    font-size: 12rem;
  }
}

.title-description {
  font-size: 8rem;
  width: clamp(400px, 24vw, 24vw);

  @include tablet-screen() {
    width: 100%;
  }
}

.title-menu {
  font-size: 8rem;
}

/* ========== CURSOR ========== */

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: var(--col-dark-grey);
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;

  @include tablet-screen {
    display: none;
    opacity: 0;
  }
}

.follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: 9999;
  background: var(--col-white-grey);
  opacity: .7 !important;
  pointer-events: none;

  @include tablet-screen {
    display: none;
    opacity: 0;
  }
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mt-160 {
  margin-top: 160px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mt-200 {
  margin-top: 200px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mt-320 {
  margin-top: 320px;
}

.mb-320 {
  margin-bottom: 320px;
}

.small-ml-0 {
  @include small-screen() {
    margin-left: 0 !important;
  }
}

.small-mr-0 {
  @include small-screen() {
    margin-right: 0 !important;
  }
}

.small-mt-0 {
  @include small-screen() {
    margin-top: 0 !important;
  }
}

.small-mb-0 {
  @include small-screen() {
    margin-bottom: 0 !important;
  }
}

.small-m-0 {
  @include small-screen() {
    margin: 0 !important;
  }
}

.tablet-ml-0 {
  @include tablet-screen() {
    margin-left: 0 !important;
  }
}

.tablet-mr-0 {
  @include tablet-screen() {
    margin-right: 0 !important;
  }
}

.tablet-mt-0 {
  @include tablet-screen() {
    margin-top: 0 !important;
  }
}

.tablet-mb-0 {
  @include tablet-screen() {
    margin-bottom: 0 !important;
  }
}

.tablet-m-0 {
  @include tablet-screen() {
    margin: 0 !important;
  }
}

.ml-1 {
  margin-left: 7.8vw;
}

.ml-2 {
  margin-left: 15.6vw;
}

.ml-3 {
  margin-left: 23.4vw;
}

.ml-4 {
  margin-left: 31.2vw;
}

.ml-5 {
  margin-left: 39vw;
}

.ml-6 {
  margin-left: 46.8vw;
}

.ml-7 {
  margin-left: 54.6vw;
}

.ml-8 {
  margin-left: 62.4vw;
}

.ml-9 {
  margin-left: 70.2vw;
}

.ml-10 {
  margin-left: 78vw;
}

.ml-11 {
  margin-left: 85.8vw;
}

.ml-12 {
  margin-left: 93.6vw;
}

.mr-1 {
  margin-right: 7.8vw;
}

.mr-2 {
  margin-right: 15.6vw;
}

.mr-3 {
  margin-right: 23.4vw;
}

.mr-4 {
  margin-right: 31.2vw;
}

.mr-5 {
  margin-right: 39vw;
}

.mr-6 {
  margin-right: 46.8vw;
}

.mr-7 {
  margin-right: 54.6vw;
}

.mr-8 {
  margin-right: 62.4vw;
}

.mr-9 {
  margin-right: 70.2vw;
}

.mr-10 {
  margin-right: 78vw;
}

.mr-11 {
  margin-right: 85.8vw;
}

.mr-12 {
  margin-right: 93.6vw;
}

.pr-1 {
  padding-right: 7.8vw;
}

.pr-2 {
  padding-right: 15.6vw;
}

.pr-3 {
  padding-right: 23.4vw;
}

.pr-4 {
  padding-right: 31.2vw;
}

.pr-5 {
  padding-right: 39vw;
}

.pr-6 {
  padding-right: 46.8vw;
}

.pr-7 {
  padding-right: 54.6vw;
}

.pr-8 {
  padding-right: 62.4vw;
}

.pr-9 {
  padding-right: 70.2vw;
}

.pr-10 {
  padding-right: 78vw;
}

.pr-11 {
  padding-right: 85.8vw;
}

.pr-12 {
  padding-right: 93.6vw;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--col-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

// .transition-layer {
//   position: sticky;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 1000000;
// }

// .bottom-layer {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 100%;
//   left: 0;
//   bottom: auto;
//   right: auto;
//   background: var(--col-background);
//   transition: all 0.6s cubic-bezier(.18, .67, .79, .38);
//   z-index: 1000000;

//   &.active {
//     top: -100%;
//   }
// }

// .bottom-layer--2 {
//   background: var(--col-secondary);
//   transition-delay: 0.24s;
// }

.active-inline {
  display: inline-block !important;
}

.active {
  display: block !important;
}

.inactive {
  display: none !important;
}

// Rolling Text
.wrapper-rolling-text {
  white-space: nowrap;
  position: absolute;
  top: 46vh;
  transform: translateY(-50%);
  user-select: none;

  @include small-screen() {
    top: auto;
  }
}

.rolling-text {
  display: inline-block;
  pointer-events: none;
  will-change: transform;
}

// Animations
.hover-underline-animation {
  position: relative;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--col-dark);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.font-white.hover-underline-animation:after {
  background-color: var(--col-white);
}

.font-white-grey.hover-underline-animation:after {
  background-color: var(--col-white-grey);
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.lineParent {
  overflow: hidden;
}

.lineChildren {
  transform: translate3d(0, 200px, 0);
}

.side-subtitle {
  width: var(--col-2);
  height: fit-content;
  position: relative;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.flex-row {
  display: flex;
  flex-flow: row;
}

html.has-scroll-smooth {
  backface-visibility: hidden;
  transform: translateZ(0);
}

[data-load-container] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  // display: none;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}