@import "mixins";

.contact-section {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  .wrapper-rolling-text {
    white-space: nowrap;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    user-select: none;
  }

  .rolling-text {
    white-space: nowrap;
    display: inline-block;
    pointer-events: none;
    will-change: transform;
  }

  .contact-img-container {
    width: var(--col-3);
    height: 560px; // clamp later
    margin-left: var(--col-2);
    user-select: none;
  }

  .contact-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mid-container {
    display: flex;
    align-items: flex-end;
    gap: var(--col-1);
  }

  .links {
    .link-title {
      font-size: 1.6rem;
      color: var(--col-neutral);
      margin-bottom: 16px;
    }

    .link {
      cursor: pointer;
      width: fit-content;
      margin-bottom: 8px;
    }
  }

  .designed-by {
    font-size: 1.6rem;
    position: absolute;
    left: var(--active-margin-grid);
    bottom: 40px;
  }
}