@import "mixins";

.contact-section {
    height: 100vh;
    margin: 0 var(--active-margin-grid);
    position: relative;
}

.contact-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.contact-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}