@import "mixins";

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 48px;
    border-top: 1px solid var(--col-neutral-primary);

    .footer-social {
        display: flex;
        gap: 64px;

        li {
            list-style-type: none;
        }
    }
}

.menu-opened .footer {
    border: none;
}