@import "mixins";

.hero-section {
    width: 100%;
}

.hero-background {
    height: 100vh;
    background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0.8) 50%, #141416 100%), url("../../public/background/milad-fakurian-CdAmQAko9As-unsplash.jpg");
    background-size: cover;
}

.hero-title__container {
    padding: 0 var(--active-margin-grid);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hero-subtitle {
    top: calc(50% - 120px);
}

.last-updated {
    position: absolute;
    bottom: 48px;
}

.scroll-down {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--col-white);
    z-index: 11;
    position: absolute;
    left: var(--col-3);
    bottom: 80px;
    // overflow: hidden;

    &__container {
        width: 1px;
        height: 94px;
        position: absolute;
        top: 40px;
        left: 50%;
        overflow: hidden;
    }

    &__bar {
        width: 100%;
        height: 100%;
        background: var(--col-white);
        animation: scrollDown 5s ease-in-out infinite;
    }
}

@keyframes scrollDown {
    0% {
        margin-top: 0;
    }

    80% {
        margin-top: 94px;
    }

    100% {
        margin-top: 0;
    }
}

.hero-content {
    position: relative;

    &__canvas {
        margin: auto;

        @include tablet-screen() {
            max-height: 400px;
        }

        @include tablet-screen() {
            max-height: 320px;
        }

        img {
            width: 100%;
            max-width: none;
            height: auto;
            object-fit: cover;

            @include tablet-screen() {
                max-height: 400px;
            }

            @include tablet-screen() {
                max-height: 320px;
            }
        }
    }

    &__circle {
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        border: 1px solid var(--col-accentuation);
        font-size: clamp(2.4rem, 2.4vw, 4rem);
        color: var(--col-white);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}