@import "mixins";

.menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent;
    color: var(--col-white);
    padding: 48px var(--active-margin-grid);
    transition: all 0.3s var(--custom-ease-in);
    font-family: 'Euclid Square';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 132%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    &__inner {
        display: flex;
        justify-content: space-between;
        user-select: none;

        &--hamburger {
            display: flex;
            align-items: center;
            cursor: pointer;

            span {
                mix-blend-mode: difference;
            }

            .hamburger-icon {
                margin-right: 16px;

                &::before {
                    content: "";
                    display: block;
                    width: 48px;
                    height: 1px;
                    background: var(--col-accentuation);
                    margin-bottom: 8px;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 48px;
                    height: 1px;
                    background: var(--col-accentuation);
                }
            }
        }

        &--logo {
            font-family: 'SangBleu Empire';
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 120%;

            .logo-mid {
                font-size: 3.2rem;
            }
        }

        &--contact {
            position: relative;

            span {
                mix-blend-mode: difference;
            }

            .contact-circle {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 1px solid var(--col-accentuation);
                position: absolute;
                top: -15px;
                right: -24px;
            }
        }
    }
}

.menu-opened {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: var(--col-background);
}

.menu-content {
    height: 100%;
    position: relative;
    margin: 0 var(--active-margin-grid);
    display: flex;

    .menu-left {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &__inner {
            display: flex;

            .subtitle-small {
                transform: rotate(-90deg);
                width: fit-content;
                height: fit-content;
                margin-top: 44px;
            }

            .menu-pages li {
                margin: 24px;

                a.active {
                    span.element-menu {
                        -webkit-text-stroke: 0;
                        color: var(--col-accentuation);
                    }

                    .nb-hover-menu {
                        display: inline-block;
                    }
                }

                .element-menu {
                    color: transparent;
                    -webkit-text-stroke: 2px var(--col-neutral-primary);
                }

                &:hover span.element-menu {
                    color: var(--col-white);
                    -webkit-text-stroke: 0;
                }
            }
        }
    }

    .menu-right {
        width: 50%;
        height: 100%;
        position: relative;

        &__inner {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 680px;
                object-fit: cover;
            }
        }
    }
}