@import "mixins";

.summary-section {
    padding: 240px var(--active-margin-grid);
    background: var(--col-white);
}

.summary-title {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.summary-1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 96px;
    
    img {
        max-height: 100vh;
    }
}

.summary-2 {

    // &__gallery {
    //     width: 100%;
    //     display: grid;
    //     grid-template-columns: 1fr 2fr;
    //     gap: 40px;

    //     img {
    //         height: 100vh;
    //         object-fit: cover;
    //     }
    // }
}