@import "mixins";

// WORKS SECTION HOME PAGE

.home-works-section {
  height: 100vh;
  background: var(--col-dark);
  text-align: center;
  overscroll-behavior: none;
  width: 200%;
  display: flex;
  align-items: center;
  position: relative;
  border-top: 1px solid grey;
}

.works-title {
  text-align: left;
  position: absolute;
  width: calc(100% - 2*(var(--active-margin-grid)));
  top: 80px;
  left: var(--active-margin-grid);
  z-index: 2;
}

.work-slider {
  height: 80vh;
  width: 100%;
  padding-left: var(--active-margin-grid);
  padding-top: 96px;
  display: flex;
  flex-flow: row nowrap;
  gap: 64px;

  .work-content {
    width: var(--col-4);
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 32px;

    .work-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(80%);
    }

    .work-description {
      display: flex;
      flex-flow: column;
      align-items: flex-start;

      .work-title {
        font-size: 3.2rem;
        font-weight: 410;
        line-height: 164%;
        letter-spacing: -0.04em;
      }

      .work-detail {
        font-size: 16px;
      }
    }
  }
}

.panel {
  overscroll-behavior: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

.panel.red {
  background-color: red;
}

.panel.orange {
  background-color: orange;
}

.panel.purple {
  background-color: purple;
}

.panel.green {
  background-color: green;
}

.panel.gray {
  background-color: gray;
}

// WORKS SECTION INNER PAGE

.works-section {
  width: 100%;
  height: 100vh;
}