@import "mixins";

// WORKS SECTION MAIN PAGE

.main-works-section {
    margin: 240px var(--active-margin-grid);
    background: var(--col-background);
    text-align: center;

    .title-third {
        margin-top: 40px;
    }

    .btn {
        display: inline-block;
    }
}

.projects-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--col-1);

    .project-container {
        height: 800px;
        background: var(--col-accentuation);
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .project-title {
            position: absolute;
            left: 40px;
            bottom: 40px;
        }
    }

    .project-right {}

    .project-left {
        margin-top: 240px;
    }
}

// WORKS SECTION PROJECTS PAGE

.works-section {
    width: 100%;
    height: 100vh;
}

.works-content {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .slick-slider {
        height: 540px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            height: 100%;
            position: relative;
        }

        .slick-slide img {
            height: 100%;
            width: var(--col-5);
            object-fit: cover;
            margin: auto;
        }

        .slick-dots {
            width: fit-content;
            bottom: initial;
            right: 25%;
        }

        .slick-dots li {
            display: block;
            width: 24px;
            height: 24px;
            margin: 0;
        }

        .slick-dots .slick-active > button:before {
            font-size: 8px;
        }

        .slick-dots button {
            width: 24px;
            height: 24px;
        }

        .slick-dots button:before {      
            width: 24px;
            height: 24px;
            color: var(--col-white);
        }
    }
}

.works-footer {
    margin: 0 var(--active-margin-grid);
    position: relative;
}