@import "../../styles/mixins";

.about-section {
  background: var(--col-dark-grey);
  width: 100%;
  height: auto;
  padding: 200px var(--active-margin-grid) 320px;
}

.about-canvas {
  width: 52vw;
  height: auto;
  aspect-ratio: 16 / 9;
  position: relative;

  .about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about-attached {
  width: fit-content;
  position: relative;
  margin-top: -280px;

  &-text {
    position: absolute;
    top: 4px;
    left: 0;
  }
}

.about-instaram-section {
  background: var(--col-dark);
  width: 100%;
  height: auto;
  padding: 280px var(--active-margin-grid) 160px;
}