@import "../../styles/mixins";

.contact-section {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background: var(--col-white);

  .mid-container {
    display: flex;
    align-items: flex-end;
    gap: var(--col-1);
  }

  .contact-img-container {
    width: var(--col-3);
    height: 560px; // clamp later
    margin-left: var(--col-2);
    user-select: none;
    z-index: 10;
  }

  .contact-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path .8s var(--custom-ease-out);

    &.is-reveal {
      clip-path: inset(0% 0% 0% 0%);
    }
  }

  .links {
    .link-title {
      font-size: 1.6rem;
      color: var(--col-neutral);
      margin-bottom: 16px;
    }

    .link {
      cursor: pointer;
      width: fit-content;
      margin-bottom: 8px;
    }
  }

  .designed-by {
    font-size: 1.6rem;
    position: absolute;
    left: var(--active-margin-grid);
    bottom: 40px;
  }
}