@import "../../styles/mixins";

.contact-section {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background: var(--col-dark-grey);

  .mid-container {
    display: flex;
    align-items: flex-end;
    gap: 80px;
  }

  .contact-img-container {
    width: 24vw;
		height: auto;
		aspect-ratio: 2/3;
    margin-left: 16vw;
    margin-right: 80px;
    user-select: none;
    z-index: 10;
  }

  .contact-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .links {
    margin-bottom: 40px;
    
    .link-title {
      font-size: 1.6rem;
      color: var(--col-neutral);
      margin-bottom: 24px;
    }

    .link {
      cursor: pointer;
      width: fit-content;
      margin-bottom: 16px;
    }
  }

  .designed-by {
    position: absolute;
    left: var(--active-margin-grid);
    bottom: 40px;
  }
}